<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head::standard( ~{::title}) ">
        <title>ChatApp - Home</title>
    </head>

    <body th:replace="fragments/body::standard( ~{fragments/header::authenticated}, ~{::main}, ~{fragments/footer::standard}, ~{::script} )">

        <main>
            <div class="container">
                <h2 id="welcomeHeader" >Welcome <span th:text="${fullName}" th:remove="tag"></span> </h2>
                <h3 id="status" class="text-right" th:text="${status}"></h3>

                <div class="my-3">
                    <p class="my-0">
                        <label for="changeStatusInput">Change status</label>
                    </p>
                    <p class="my-0">
                        <input type="text" id="changeStatusInput"/>
                        <button type="button" id="changeStatusButton" class="btn btn-outline-dark">Change</button>
                    </p>
                </div>

                <div class="my-3">
                    <p class="my-0">
                        <label for="addFriendInput">Add friend</label>
                    </p>
                    <p class="my-0">
                        <input type="text" id="addFriendInput"/>
                        <button type="button" id="addFriendButton" class="btn btn-outline-dark">Add</button>
                    </p>
                </div>

                <h4>Friends</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody id="tableFriendListBody">

                    </tbody>
                </table>
            </div>
        </main>

        <script th:src="@{/js/deelopdrachtEen.js}"></script>
    </body>

</html>