<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::header( ~{::title} ) ">
    <title>ChatApp - Login</title>
</head>

<body th:replace="fragments/generic::body( ~{fragments/headers::standard}, ~{::main}, ~{fragments/footers::standard} )">

    <main>
        <div class="mx-auto">
            <p th:if="${loginError}" class="error">Wrong username or password</p>
            <p th:if="${logoutSuccess}">You've been logged out successfully</p>
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>
    </main>

</body>

</html>