<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::standard( ~{::title})">
    <title>ChatApp - Login</title>
</head>

<body th:replace="fragments/body::standard( ~{fragments/header::standard}, ~{::main}, ~{fragments/footer::standard}, ~{::script} )">

    <main>
        <div class="mx-auto">
            <p th:if="${loginError}" class="text-danger">Wrong username or password</p>
            <p th:if="${logoutSuccess}" class="text-success">You've been logged out successfully</p>
            <form th:action="@{/login}" th:method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>

        <h2 class="mt-3">Blog</h2>
        <div class="card my-3" th:each="blog,iterStat : ${blogs}">
            <div class="card-body">
                <h5 class="card-title" th:text="${blog.title}"></h5>
                <p th:id="'form-' + ${iterStat.count}">
                    <input type="text" th:id="'name-' + ${iterStat.count}" placeholder="Name">
                    <input type="text" th:id="'comment-' + ${iterStat.count}" placeholder="Comment">
                    <input type="number" th:id="'score-' + ${iterStat.count}" min="0" max="10" value="5">
                    <button type="button" class="btn btn-outline-dark" th:id="'commentButton-' + ${iterStat.count}">OK</button>
                </p>
            </div>
        </div>
    </main>

    <script th:src="@{/js/deelopdrachtTwee.js}"></script>
</body>

</html>